    <!-- Seccion experiencia -->
    <section class="experiencia seccion-oscura">
        <div class="container text-center">
          <div class="row">
            <h2>{{miPortfolio.experienciaTitulo}}</h2>
          </div>
          <div class="row" *ngFor="let exp of experiencia">
            <div class="col-12 col-md-4">
              <img [alt]="exp.nombreEmpresa" [src]="exp.logo">{{exp.nombreEmpresa}}
            </div>
            <div class="col-12 col-md-8">
              <h3>{{exp.descripcion}}</h3>
            </div>
          </div>
        </div>
      </section>